@media (max-width: 520px) {
    body {
        background-color: purple;
    }
}

@media (min-width: 521px) 
and (max-width: 960px) {
    body {
        background-color: green;
    }
}

@media (min-width:961px) {
    body {
        background-color: black;
    }
}

